.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49vw;
}

.welcome-logo {
  width: 25vw;
}

.welcome-title {
  color: #000000;
  font-size: 4vw;
}

.welcome-footer {
  color: #000000;
  position: absolute;
  bottom: 0;
}

.login-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 50vw;
  /* width: 340px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;

  form {
    width: 90%;
  }

  .login-title{
    font-size: 3vw;
  }

  .login-inputtext{
    font-size:16px;
  }
}

