.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.welcome-logo {
  width: 25vw;
}

.welcome-title {
  color: #000000;
  font-size: 4vw;
}

.welcome-footer {
  color: #000000;
  position: absolute;
  bottom: 0;
}

.login-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 95vh;
  width: 49vw;
  /* width: 340px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #03459A;
  gap: 5vh;

  form {
    width: 80%;
  }

  .login-title{
    font-size: 3.5vw;
  
  }

  .login-inputlabel{
    font-size:16px;
    color: #FFFFFF;
    margin-bottom: 1vh;
    display: flex;
  }

  .btn-forgotpass{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 2.5vh;
    display: flex;
    justify-content: flex-end;
  }

}

